@import "../../assets/sass/colors.scss";
@import "../../assets/sass/variables.scss";

h1 {
    color: $secondary-color;
    text-transform: uppercase;
}

/* .searchBackImage {
    display: flex;
    flex-direction: column;
    align-content: stretch;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/airport-search-lower.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $secondary-color;
    max-width: 100vw;
    max-height: 60vh;
    top: 0;
    left: 0;

    box-shadow: $box-inset-shadow;
    color: $secondary-color;
} */

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 65vw;
    min-height: 40vh;

    background-color: rgba($tertiary-color, 0.9);
}

/* Main content */
.searchType {
    width: 30%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-bottom: 2rem;
    button {
        margin: auto;
        padding: 1rem;
        background-color: inherit;
        color: $secondary-color;

        &:hover {
            cursor: pointer;
        }
        &.active {
            box-shadow: inset 0 -0.2rem 0 $secondary-color;
            color: $secondary-color;
        }
    }
}

.searchItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 65vw;
}

.searchButton {
    margin: 3rem;
}

/* --------------------------------- */

.flightSearchItem {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 100%;
    border-radius: $border-radius;
}

%box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    min-height: 10vh;
    color: $font-color;
    background-color: $secondary-color;
    
    button {
        flex: 1;
        color: $font-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $secondary-dark-color;
    }
}

$header-height: 2.5rem;
$box-text-color: darken($tertiary-color, 10%);

.SearchOptionBox {
    @extend %box;
    border-collapse: separate;

    &.wide {
        min-width: 20vw;
    }

    &:last-child {
        flex: 1;
    }

    .boxHeader {
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        line-height: $header-height;
        background-color: $secondary-color;
        color: $box-text-color;
        box-shadow: $box-shadow-2;
    }

    .boxContent {
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: $box-shadow-2;

        &.red {
            background-color: $highlight-color;
        }

        &:hover {
            color: $box-text-color;
        }
    }
}


// --- Popovers ---

%popover {
    position: absolute;
    display: flex;
    align-items: center;
    top: $header-height;
    left: 0px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $secondary-color;
    z-index: 999;
}

.cityPopover {
    @extend %popover;
    width: 100%;
    height: 80%;
    padding: 0 1rem;
}

.datePopover {
    @extend %popover;
    padding: 1rem;
}

.classTravellersPopover {
    @extend %popover;
    width: 100%;
    min-height: 25vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        color: $secondary-color;
        &.text {
            color: $font-color;
        }
    }
    .travellers {
        display: flex;
        flex-direction: column;
        width: 100%;
        .counter {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
            span {
                width: 2rem;
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-aspect-ratio: 3/4) {
    .searchType {
        width: 90%;
    }

    .flightSearchItem {
        flex-direction: column;
        min-width: 80vw;
    }

    .SearchOptionBox {
        flex: 1;
    }

    .searchButton {
        min-width: 80vw;
    }
}