@import "../../assets/sass/colors.scss";

.input-div {
    width: inherit;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    padding: 2vh 2vw;
    font-weight: 500;
}

input[type=text], 
input[type=password],
input[type=email],
input[type=tel],
input[type=number] {
    width: 100%;
    border-style: none;
    outline: none;
    
    padding: 1rem;

    font-size: 1.6rem;
    
    background: $secondary-dark-color;
    color: $text-color;

    transition: 0.5s;
    &:focus {
        background-color: $secondary-darker-color;
        caret-color: $primary-color;
        color: $primary-color;
    }
}

label {
    margin-bottom: 1rem;
    margin-right: auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: $font-color;
    transition: 0.5s;
}

.error-message {
    display: none;
    width: 100%;
    padding: 1rem 2rem;
    opacity: 0.8;
    background: #f44336;
    color: #ffffff;
    p {
        margin: 0;
    }
}

.required:after {
    content: ' *';
    color: red;
}