@import "../../assets/sass/colors.scss";

$border-outlined: 0.2rem;

$padding-standard: 1.5rem 2rem;
$padding-outlined: (1.5 - $border-outlined) 2rem;

%button {
    width: inherit;
    height: inherit;
    cursor: pointer;
    border-style: none;
    white-space: nowrap;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    outline: none;
}

/* ----------- Default button ---------- */

.primary-button {
    @extend %button;
    padding: $padding-standard;

    background-color: $primary-color;
    color: $primary-text-color;

    &:hover {
        background-color: $primary-light-color;
        color: $primary-text-color;
    }
    &:disabled {
        background-color: $primary-dark-color;
    }
}

.secondary-button {
    @extend %button;
    padding: $padding-standard;

    background-color: $tertiary-color;
    color: $primary-color;

    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }
}


/* ------------ Outlined button ------------*/

.primary-outlined-button {
    @extend %button;
    padding: $padding-outlined;
    border: $border-outlined solid $primary-color;

    background-color: inherit;
    color: $primary-color;
    transition: border-color 0.5s linear, color 0.5s linear;
    
    &:hover {
        border-color: $hover-color;
        color: $hover-color;
        transition: border-color 0.5s linear, color 0.5s linear;
    }
    &:disabled {
        background-color: $primary-dark-color;
    }
}

.secondary-outlined-button {
    @extend %button;
    padding: $padding-standard;
    border: 0.2rem solid $secondary-color;
    background-color: inherit;
    color: $secondary-color;

    &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: $primary-color;
    }
}


