@import "../../assets/sass/colors.scss";
@import "../../assets/sass/variables";

$border-outlined: 0.2rem;

$padding-standard: 1.2rem 3rem;
$padding-outlined: (1.2 - $border-outlined) 3rem;

%button {
    cursor: pointer;
    border-style: none;
    border-radius: $border-radius;
    white-space: nowrap;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    outline: none;
    box-shadow: $box-shadow;

    &.fullWidth {
        width: 100%;
    }
    &.wide {
        width: 50%;
    }
}



/* ----------- Default button ---------- */

.primary {
    @extend %button;
    padding: $padding-standard;

    background-color: $primary-color;
    color: $primary-text-color;

    &:hover {
        background-color: $primary-light-color;
        color: $primary-text-color;
    }
    &:disabled {
        background-color: $primary-dark-color;
    }
}

.secondary {
    @extend %button;
    padding: $padding-standard;

    background-color: $secondary-color;
    color: $secondary-text-color;

    &:hover {
        background-color: $secondary-dark-color;
        color: $secondary-text-color;
    }
}

.secondary2 {
    @extend .secondary;
    color: $tertiary-color;
    &:hover {
        color: darken($tertiary-color, 20%);
    }
}

.tertiary {
    @extend %button;
    padding: $padding-standard;

    background-color: $tertiary-color;
    color: $secondary-color;
    &:hover {
        background-color: rgba($tertiary-color, 0.8);
    }
}


/* ------------ Outlined button ------------*/

.primaryOutlined {
    @extend %button;
    padding: $padding-outlined;
    border: $border-outlined solid $primary-color;

    background-color: inherit;
    color: $primary-color;
    transition: border-color 0.5s linear, color 0.5s linear, background-color 0.5s linear;
    
    &:hover {
        border-color: $primary-color;
        background-color: $primary-color;
        color: $primary-text-color;
        transition: border-color 0.5s linear, color 0.5s linear, background-color 0.5s linear;
    }
    &:disabled {
        background-color: $primary-dark-color;
    }
}

.secondaryOutlined {
    @extend %button;
    padding: $padding-standard;
    border: 0.2rem solid $secondary-color;
    background-color: inherit;
    color: $secondary-color;

    &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: $primary-color;
    }
}


.primaryRounded {
    @extend %button;
    width: 4rem;
    height: 4rem;
    line-height: 50%;
    border-radius: 50%;
    background-color: $primary-color;
    color: $secondary-color;
    &:hover {
        background-color: $primary-light-color;
    }
}

