@import "../../assets/sass/colors.scss";

$navbar-padding: 1.7rem 2rem;
$navbar-icon-padding: 0 1rem;
$dropdown-item-padding: 1.7rem 3rem;

.navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    margin-right: 2rem;
    margin-bottom: 0;
    overflow: hidden;

    color: $primary-color;
    li {
        display: flex;
        align-items: stretch;
    }
    button {
        border: none;
        background-color: inherit;
        color: inherit;
        width: 100%;
        cursor: pointer;
        &:hover {
            color: $hover-color;
        }
    }
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.navbar-link {
    padding: $navbar-padding;
    display: flex;
    align-items: center;

    @extend %text-style;

    &:hover {
        color: $hover-color;
    }
}

.navbar-icon {
    padding: $navbar-icon-padding;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.sign-up-link {
    @extend .navbar-link;
    background-color: $primary-dark-color;
    color: $secondary-color;
    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }
}

%text-style {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

// --- User dropdown menu ---
.dropdown {
    position: absolute;
    top: 5rem;
    transform: translateX(-55%);
    border: 0.1rem solid $hover-color;
    border-radius: 2%;
    background-color: $secondary-color;
}

.dropdown-menu-item {
    display: flex;
    width: 10rem;
    white-space: nowrap;
    justify-content: center;
    padding: $dropdown-item-padding;
    @extend %text-style;
}

@media only screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        padding: 0;
    }
    .navbar li {
        flex: 1;
        padding: 2rem 0 2rem 0;
        margin: 0;
    }
}

@media only screen and (min-width: 1000px) {
    /*.navbar-main-button:hover > div{
        -webkit-transform: scale(1.2);
    }*/
}