@import url(https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap);

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select, textarea, button { 
  font-family:inherit; 
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
