$primary-color: #00A8E0;
$primary-light-color: #32b9e6;
$primary-dark-color: #0086b3;
$primary-text-color: white;

$secondary-color: #ffffff;
$secondary-dark-color: #f1f1f1;
$secondary-darker-color: #d1d1d1;
$secondary-text-color: #2e94b9;

$tertiary-color: #2bc34f;


$highlight-color: rgba(244,67,54, 0.8);
$highlight-contrast-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.19);

$text-color: $primary-dark-color;
$link-color: $primary-color;
$font-color: #6d6d6d;

$hover-color: #beefff;

$form-background-color: #f5f4f4;
$progress-line-color: $primary-dark-color;
$progress-text-color: #c3c3c3;