$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;

$border-radius: 0.5rem;
$box-inset-shadow: inset 0 0 1rem black;
$box-shadow:0 1px 6px 0 rgba(0, 0, 0, 0.2);
$box-shadow-2:0 1px 4px 0 rgba(0, 0, 0, 0.2);
    