$primary-color: #2e94b9;
$primary-light-color: #77C7E9;
$primary-dark-color: #2483a6;
$primary-text-color: white;

$secondary-color: #ffffff;
$secondary-dark-color: #ebebeb;
$secondary-darker-color: #d1d1d1;
$secondary-text-color: #2e94b9;


$highlight-color: #c94e4e;
$shadow-color: rgba(0, 0, 0, 0.19);