$primary-color: #373A36;
$primary-light-color: #484d47;
$primary-dark-color: #292b28;
$primary-contrast-color: #ffffff;
$primary-contrast-dark-color: rgb(236, 236, 236);
$primary-contrast-text-color: black;
$primary-text-color: white;

$secondary-color: #007EB1;
$secondary-light-color: #0093CF;
$secondary-dark-color: #007EB1;
$secondary-contrast-color: black;
$secondary-text-color: white;